/* adding fonts */ 

.font-work-sans{
  font-family: "Inter", "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Universal elements */ 

*{
   padding: 0px;
   margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}

.container{
    width: 85%;
    margin: 0 auto;
}

#banner, #notes, #brain, #early-access{
    margin-bottom: 80px;
}


