/* adding fonts */ 

.font-work-sans{
  font-family: "Inter", "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Universal elements */ 

*{
    max-width: 1600px;
    margin: auto;
}

/* Common classes */

.btn{
    background-color: #30B868;
    padding: 12px 16px 12px 16px;
    border-radius: 4px; 
}

.container{
    max-width: 1600px;
    margin: auto;
}

/* Navigation Bar */

.nav{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    height: 92px; 
    align-items: center;
    padding: 16px 120px 16px 120px;
}

.nav .logo img{
    width: 139px;
    height: 60px;
}

.nav .nav-links .nav-item{
    list-style: none;
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.nav .btn{
    width: 164px;
    color: white;  
    font-weight: 600px;
}

